button{
    height:50px;
    width: 50px;
    font-size: 30px;  
}
input{
    height:50px;
    width: 200px;
    font-size: 30px;  
}
.big{
    position: relative;
    top:4px;
}
#buttons{
    margin-top: 20px;
    
    width:375px;
    height: 58px;
}
